.square{
	width:400px;
	height:400px;
	background:linear-gradient(to bottom, pink,red 90%,yellow);
}

.circle{
	width:400px;
	height: 400px;
	border-radius:100%;
	background:linear-gradient(lightblue 30%, yellow 20%,olive 60%);
	display:inline-block;
}
.rectangle{
	width:180px;
	height:1300px;
	background-color: green;
	display:inline-block;
}
