body {

  background: black;
}
.btn{
  display:inline-block;
  border: 2px  #81b9ff;
  border-style:dotted;
  padding: 10px;
  border-radius: 10px;
  margin-left:150px;
  margin-top:20px;
  font-family: ysans-std-mondrian,sans-serif;
  font-style: normal;
  font-size: 22px;
  color: #81b9ff;
}

.btn:hover{
  background-color:black;
  color:white;
  cursor:pointer;

}
img{
  width:100%;

}
.pic{
	width:500px;
  margin-left: 450px;
  margin-top:20px;



}

.neon {
  color: #cce7f8;
  text-align:center;
  font-size: 80px;
  font-family: Myriad Pro;
  text-transform: uppercase;
  animation: shining 0.1s alternate infinite;
}

@keyframes shining {
  from {
    text-shadow: 0 0 6px rgba(182, 211, 207, 0.9),
      0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(15, 115, 223, 0.5),
      0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(15, 115, 223, 0.8),
      0 0 54px rgba(15, 115, 223, 0.9);
  }
  to {
    text-shadow: 0 0 6px rgba(182, 211, 207, 1),
      0 0 30px rgba(182, 211, 207, 0.4), 0 0 12px rgba(15, 115, 223, 0.6),
      0 0 22px rgba(15, 115, 223, 0.8), 0 0 38px rgba(15, 115, 223, 0.9),
      0 0 60px rgba(15, 115, 223, 1);
  }
}
